body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  background-color: #eeeeee;
}

.visually-hidden {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.main-navigation {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.main-header-logo {
  padding-top: 48px;
}

.site-navigation {
  width: 440px;
  display: flex;
  justify-content: space-between;
  padding-top: 78px;
  padding-right: 81px;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:focus {
  color: black;
  opacity: 0.3;
}

.main-navigation .basket {
  padding-top: 78px;
}

.inner-page h1 {
  font-size: 55px;
  line-height: 55px;
  background-color: #eeeeee;
  margin: 0;
}

.filter-price p,
fieldset legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.sidebar label {
  line-height: 20px;
}

.filter-input + label {
  color: #283136;
}

.filter-input:hover + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #283136;
  opacity: 0.3;
}

.sidebar .filter-button {
  text-transform: uppercase;
  border: none;
  font: inherit;
  line-height: 18px;
  background-color: #eeeeee;
}

.sidebar .filter-button:hover {
  background-color: #dfdfdf;
}

.sidebar .filter-button:focus,
.sidebar .filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.302);
}

.sorting-results {
  text-transform: uppercase;
}

.sorting-item a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sorting-item a:hover {
  opacity: 0.6;
}

.sorting-item a:focus,
.sorting-item a:active {
  opacity: 1;
}

.sorting-item .sorting-active,
.sorting-item .sorting-active:hover,
.sorting-item .sorting-active:focus,
.sorting-item .sorting-active:active {
  opacity: 1;
}

.item-description {
  background-color: #eeeeee;
}

.item-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.item-text {
  text-align: center;
  line-height: 18px;
  color: #666666;
}

.item-price {
  background-color: #fb565a;
  color: white;
}

.item-price:hover {
  background-color: #e74246;
}

.item-price:focus,
.item-price:active {
  background-color: #d7373b;
}

.pagination-item a {
  line-height: 18px;
  background-color: #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:focus {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.302);
}

a.pagination-active,
a.pagination-active:hover,
a.pagination-active:focus,
a.pagination-active:active {
  background-color: white;
  border: 2px solid #dbdbdb;
  color: black;
}

.slider {
  background-color: #eeeeee;
  position: relative;
}

.slide h3 {
  font-size: 55px;
  font-weight: bold;
  line-height: 55px;
  padding: 70px 0 0 95px;
  margin: 0;
}

.slide p {
  color: #283136;
  padding: 27px 0 170px 95px;
  margin: 0;
}

.slide a {
  position: absolute;
  bottom: 81px;
  left: 95px;
  display: block;
  color: white;
  background-color: #fb565a;
  text-transform: uppercase;
  padding: 14px 0 12px 0;
  width: 240px;
  text-align: center;
  border-radius: 3px;
}

.slide a:hover {
  background-color: #e74246;
}

.slide a:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.302);
}

.slide-1 {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 526px 11px;
}

.slide-2 {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 500px 0;
}

.slide-3 {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 500px 0;
}

.services {
  padding-top: 79px;
  width: 1160px;
  margin: 0 auto;
}

.services-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.services-list h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 17px;
}

.services-list a {
  display: block;
  color: white;
  text-transform: uppercase;
  width: 160px;
  height: 36px;
  padding-top: 14px;
  text-align: center;
  border-radius: 3px;
}

.services-list p {
  color: #283136;
  margin: 0 0 31px 0;
}

.services-1 a {
  background-color: #fb565a;
}

.services-1 a:hover {
  background-color: #e74246;
}

.services-1 a:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.302);
}

.services-2 a {
  background-color: #00ca74;
}

.services-2 a:hover {
  background-color: #00bc6c;
}

.services-2 a:focus {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.302);
}

.services-3 {
  padding-right: 60px;
}

.services-3 a {
  background-color: #efc849;
}

.services-3 a:hover {
  background-color: #eab534;
}

.services-3 a:focus {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.302);
}

.info {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  padding-top: 74px;
  justify-content: space-between;
}

.column-1 span {
  font-size: 45px;
  line-height: 45px;
  font-weight: normal;
}

.column-1 p:nth-child(2) {
  color: #283136;
  padding-top: 17px;
  padding-bottom: 24px;
}

.column-1 p:nth-child(3) {
  text-transform: uppercase;
}

.list-orders {
  color: #283136;
  padding-top: 7px;
  padding-left: 36px;
}

.order-1 {
  margin-bottom: 25px;
}

.order-2 {
  margin-bottom: 24px;
}

.column-2 {
  padding-top: 194px;
  position: relative;
}

.column-2 img {
  position: absolute;
  top: -34px;
  right: 0;
}

.column-2 p {
  text-transform: uppercase;
  padding-right: 15px;
  margin-bottom: 55px;
}

.column-2 tr:nth-child(1) {
  font-size: 45px;
  line-height: 10px;
}

.column-2 sup {
  font-size: 28px;
}

.column-2 tr:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.references img {
  opacity: 0.2;
}

.references img:hover {
  opacity: 1;
}

.references img:active {
  opacity: 0.1;
}

.map {
  position: relative;
  box-sizing: border-box;
  min-height: 416px;
}

.map-iframe {
  width: 100%;
  height: 100;
}

.contacts {
  background-color: white;
  width: 210px;
  position: absolute;
  top: 87px;
  left: 144px;
}

.contacts h2 {
  font-size: 18px;
  line-height: 30px;
}

.contacts p {
  line-height: 18px;
  color: #666666;
}

.contacts button {
  text-transform: uppercase;
  color: white;
  background-color: #fb565a;
  border: none;
  font-size: 16px;
}

.contacts button:hover {
  background-color: #e74246;
}

.contacts button:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.302);
}

.footer-text p:nth-child(1) {
  font-size: 36px;
  line-height: 36px;
}

.footer-text p:nth-child(2) {
  line-height: 22px;
  color: #444444;
}

.writeus-form {
  line-height: 18px;
}

.writeus-form input[type="email"]:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}

.writeus-form input[type="text"],
.writeus-form input[type="email"],
.writeus-form textarea {
  font: inherit;
  color: #444444;
  border: 2px solid #d7dcde;
}

.writeus-form input[type="text"]:hover,
.writeus-form input[type="email"]:hover,
.writeus-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.writeus-form input[type="text"]:focus,
.writeus-form input[type="email"]:focus,
.writeus-form textarea:focus {
  border: 2px solid black;
  color: #000000;
}

.writeus-form input[type="submit"] {
  border: none;
  font: inherit;
  background-color: #fb565a;
  color: white;
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  padding-bottom: 53px;
  width: 1160px;
}

.about-us__introduction {
  flex: 0 0 660px;
}

.about-us__slogan {
  margin: 0;
  margin-bottom: 33px;
  padding-top: 35px;
  font-size: 40px;
  line-height: 45px;
  font-weight: 500;
}

.about-us__para {
  margin-top: 0;
  margin-bottom: 42px;
}

.about-us__heading {
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.about-us__list {
  margin: 0;
  padding: 0;
}

.about-us__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 37px;
}

.about-us__item:last-of-type {
  margin-bottom: 0;
}

.about-us__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-us__brief {
  flex: 0 0 360px;
}

.about-us__logo {
  display: block;
  margin-bottom: 39px;
}

.about-us__stats {
  display: flex;
  margin: 0;
}

.about-us__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}

.about-us__col:last-of-type {
  margin-right: 0;
}

.about-us__col dt {
  order: 1;
  max-width: 110px;
}

.about-us__col dd {
  position: relative;
  order: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 18px;
}

.about-us__percentage {
  vertical-align: super;
  font-size: 0.6em;
  line-height: 0;
}

.references {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  padding-bottom: 38px;
  width: 1160px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.references a {
  margin-top: 65px;
}

.references a:first-child {
  padding-left: 30px;
}

.references a:nth-child(2) {
  margin-top: 45px;
}

.references a:last-child {
  padding-right: 45px;
  margin-top: 50px;
}
